<div class="cleanslate rc-app">
	<form name="rcAppForm" action="http://www.rentalcars.com" target="_blank">
		<p class="rc-title">{{title}}</p>
		<div class="rc-form-group rc-locations rc-locations--pickup">
			<select class="rc-location rc-location--country" name="country">
				<option selected="selected" disabled="disabled" value="0">{{country}}</option>
				{{#each countries}}
					<option value="{{value}}">{{name}}</option>
				{{/each}}
			</select>
			<select class="rc-location rc-location--city" name="city">
				<option selected="selected" disabled="disabled" value="0">{{city}}</option>
			</select>
			<select class="rc-location rc-location--location" name="location">
				<option selected="selected" disabled="disabled" value="0">{{location}}</option>
			</select>
		</div>
		<div class="rc-form-group rc-locations rc-locations--dropoff">
			<select class="rc-location rc-location--country" name="country">
				<option selected="selected" disabled="disabled" value="0">{{country}}</option>
			</select>
			<select class="rc-location rc-location--city" name="city">
				<option selected="selected" disabled="disabled" value="0">{{city}}</option>
			</select>
			<select class="rc-location rc-location--location" name="location">
				<option selected="selected" disabled="disabled" value="0">{{location}}</option>
			</select>
		</div>
		<div class="rc-form-group rc-date rc-date--pickup">
			<label for="rc-datepicker--pickup">{{pickupDate}}</label>
			<input spellcheck="false" type="text" name="" id="rc-datepicker--pickup">
			<input type="hidden" name="puDay">
			<input type="hidden" name="puMonth">
			<input type="hidden" name="puYear">
		</div>
		<div class="rc-form-group rc-time rc-time--pickup">
			<select class="rc-hour" name="puHour">
				<option value="00">00</option>
				<option value="01">01</option>
				<option value="02">02</option>
				<option value="03">03</option>
				<option value="04">04</option>
				<option value="05">05</option>
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10" selected="selected">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
			</select>
			<select class="rc-minute" name="puMinute">
				<option value="00">00</option>
				<option value="15">15</option>
				<option value="30" selected="selected">30</option>
				<option value="45">45</option>
			</select>
		</div>
		<div class="rc-form-group rc-date rc-date--dropoff">
			<label for="rc-datepicker--dropoff">{{dropoffDate}}</label>
			<input spellcheck="false" type="text" name="" id="rc-datepicker--dropoff">
			<input type="hidden" name="doDay">
			<input type="hidden" name="doMonth">
			<input type="hidden" name="doYear">
		</div>
		<div class="rc-form-group rc-time rc-time--pickup">
			<select class="rc-hour" name="doHour">
				<option value="00">00</option>
				<option value="01">01</option>
				<option value="02">02</option>
				<option value="03">03</option>
				<option value="04">04</option>
				<option value="05">05</option>
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10" selected="selected">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
			</select>
			<select class="rc-minute" name="doMinute">
				<option value="00">00</option>
				<option value="15">15</option>
				<option value="30" selected="selected">30</option>
				<option value="45">45</option>
			</select>
		</div>
		<div class="rc-form-group rc-submit">
			<button class="rc-submit__button">{{submit}}</button>
		</div>
	</form>
</div>